body {
	background-image: url('background.jpg');
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#main-container {
	background-color: black;
	border: 1px solid white;
	border-radius: 2px;
	color: #ffffff;
	margin: 0 20px 20px 20px;
	opacity: .8;
	padding: 10px;
}



/* Responsive Sticky footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
	background-color: black;
	border-top: 1px solid white;
  bottom: 0;
	color: white;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

#counter-container {
	bottom: -15px;
	font-size: 1.2em;
	padding-left: 10px;
	position: relative;
}

#count {
	background-color: #A3D1FF;
	border: 1px solid white;
	border-radius: 2px;
	color: black;
	font-size: 1.2em;
	padding: 0 5px;
}

#counter-container form {
	display: inline;
	margin-left: 10px;
}

#counter-container form div {
	display: inline;
}

#counter-container form input {
	width: 27px;
}

#counter-container form:nth-child(5) input{
	text-align: center;
	width: 54px;
}

#color-me {
	color: #3366FF;
	text-shadow: 1px 1px #2E2E1F;
}

/* Table Styling */
table, thead, th, tr, td {
	border: 1px solid #ffffff;
	padding: 0 5px;
	text-align: center;
}

td form.button_to {
	margin: 5px;
}

/* Responsive table! */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Date"; }
	td:nth-of-type(2):before { content: "# Smoked"; }
	td:nth-of-type(3):before { content: "Hrs Slept"; }
	td:nth-of-type(4):before { content: "Temp"; }
	td:nth-of-type(5):before { content: "Edit"; }
	td:nth-of-type(6):before { content: "Delete"; }
}
